@using Microsoft.AspNetCore.Identity
@using MyAdventure.Services.Guides
@using MyAdventure.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IGuideService Guides

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var userId = User.GetId();
        var userIsGuide = Guides.IsGuide(userId);
        var userIsAdmin = User.IsAdmin();

        @if (userIsGuide && !userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="All">Всички Маршрути</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="MyRoutes">Моите Маршрути</a>
            </li>
        }
        else if (!userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="All">Всички Маршрути</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Guides" asp-action="Become">Стани Водач</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="UserReservations">Моите Резервации</a>
            </li>
        }
        else if (userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Routes" asp-action="All">Маршрути</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профил</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    }
</ul>
