@using Microsoft.AspNetCore.Identity
@using MyAdventure.Services.Guides
@using MyAdventure.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IGuideService Guides

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var userId = User.GetId();
        var userIsGuide = Guides.IsGuide(userId);
        var userIsAdmin = User.IsAdmin();

        @if (userIsGuide && !userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="" asp-controller="Routes" asp-action="Add">Add route</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="" asp-controller="Routes" asp-action="All">All routes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="" asp-controller="Routes" asp-action="MyRoutes">My routes</a>
            </li>
        }
        else if (!userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="" asp-controller="Routes" asp-action="Add">Add route</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="" asp-controller="Routes" asp-action="All">All routes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="" asp-controller="Reservations" asp-action="UserReservations">My reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="" asp-controller="BlogPosts" asp-action="Index">Blog</a>
            </li>
        }
        else if (userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="Admin" asp-controller="Routes" asp-action="All">Routes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="Admin" asp-controller="Guides" asp-action="AllGuides">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="Admin" asp-controller="BlogPosts" asp-action="All">Blog</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Log out</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary mr-3" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
