@model IndexViewModel
@{
    ViewData["Title"] = "Welcome!";
}

@{
    var routes = Model.Routes.ToList();
    var firstRoute = routes.Any() ? routes[0] : null;
    var secondRoute = routes.Count > 1 ? routes[1] : null;
    var thirdRoute = routes.Count > 2 ? routes[2] : null;
}

@if (!routes.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to your best Advanture.</h1>
        <p class="lead">No routes at the moment.</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Routes" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add route</a>
        </p>
    </div>
}
<div class="jumbotron-fluid">
    <h1 class="display-4">Welcome to your best Advanture!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Find your destination</a>
    </p>
</div>
