@model IEnumerable<BlogPostServiceModel>

@{
    ViewBag.Title = "All posts";
}

@if (!Model.Any())
{
    <h2 class="text-center text-danger">No posts!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
            </tr>
        </thead>
        @foreach (var post in Model)
        {
            <tbody>
                <tr>
                    <td>@post.Author</td>
                    <td>@post.Title</td>
                    <td> <a asp-area="" asp-controller="BlogPosts" asp-action="Details" asp-route-Id="@post.Id" class="btn btn-info">Details</a></td>
                    <td> <a asp-area="Admin" asp-controller="BlogPosts" asp-action="Remove" asp-route-Id="@post.Id" class="btn btn-danger">Remove</a></td>
                </tr>
            </tbody>
        }
    </table>
}
<a asp-area="Admin" asp-controller="BlogPosts" asp-action="Add" asp-route-Id="" class="btn btn-primary">Add new</a>