@model IEnumerable<RouteServiceModel>

@if (!Model.Any())
{
    <h2 class="text-center text-danger">Няма Маршрути!</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Име на Маршрута:</th>
                <th scope="col">Планина:</th>
                <th scope="col">Регион:</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var route in Model)
        {
            <tbody>
                <tr>
                    <td>@route.Name</td>
                    <td>@route.Mountain</td>
                    <td>@route.Region</td>
                    <td> <a asp-area="Admin" asp-controller="Routes" asp-action="Remove" asp-route-Id="@route.Id" class="btn btn-danger">Премахни</a></td>
                </tr>
            </tbody>
        }
    </table>
}